<div class="form-container">
  <p id="notice"><%= notice %></p>

    <div class="container">
      <h2><%= "Welcome back, #{@user.first_name}!"%></h2>
      <%= link_to 'Edit Your Info', edit_user_path(@user) %>

      <p><strong>First name:</strong> <%= @user.first_name %></p>
      <p><strong>Last name:</strong> <%= @user.last_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </div>

    <div class="container">
     <%= link_to 'Saved Pins', root_path, html_options = {:class => "btn"} %>
    </div>
</div>
