<p id="notice"><%= notice %></p>

  <h2><%= "Welcome back, #{current_user.first_name}!"%></h2>
  <%= link_to 'Edit Your Info', edit_user_path(@user) %>

  <h4>First name:</h4>
  <p><%= @user.first_name %></p>
  <h4>Last name:</h4>
  <p><%= @user.last_name %></p>
  <h4>Email:</h4>
  <p><%= @user.email %></p>
