<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-header">
      <div class="container">
        <div class="user pull-right">
          <% if current_page?(signup_path) %>
          <h3>
            <%= link_to "Login", login_path %>
          </h3>
          <% elsif !current_user.nil? && !current_page?(signup_path) %>
          <h3>
            <%= "Hi, #{current_user.first_name}!"%> |
            <%= link_to "Logout", logout_path(current_user), method: :delete %>
          </h3>
          <% else %>
          <h3>
            <%= link_to "Sign Up", signup_path %> |
            <%= link_to "Login", login_path %>
          </h3>
          <% end %>
        </div>
        <h1><a href="/">Learning to Code</a></h1>
        <h3>A Collection of Ruby on Rails Resources for Beginners</h3>
      </div>
    </div>
    <div class="site-container container">
      <%= yield %>
    </div>
    <footer class="site-footer">
      <small>Thanks for visiting :-)</small>
    </footer>
  </div>
</body>
</html>
